- var home = match.home, away = match.away;
#main
	#scoreboard
		span#team1.name= home.name
		span#team2.name= away.name
		span.score
			span#score1= home.score
			| &nbsp;x
			span#score2= away.score
	.content
		!= partial('rooster', { collection: match.teams, as: 'team' })

		#content-center
			h3 Narration
			.container
				ul#narration
					- var plays = match.plays.concat(); plays.reverse();
					!= partial('partials/narration', { collection: plays, as: 'play', teams: teams })
	#timeline
		.teams
			#tTeam1= home.acronym
			hr
			#tTeam2= away.acronym
		.container
			- var left = ( plays[0].time * 18 )
			hr#tLine(style='width:'+ left +'px')
			table
				thead
					tr
						- for( var i = 1; i < 51; i++ )
							- if( i < 10 )
								- i = '0' + i;
							th #{i}

			!= partial('partials/timeline', { collection: plays, as: 'play', teams: teams })
		br(clear='all')

ul#notify
